
ConnectFour/debug\.log

ConnectFour/ConnectFour\.VC\.VC\.opendb

ConnectFour/ConnectFour\.VC\.db

ConnectFour/\.vs/

ConnectFour/Debug/ConnectFour\.exe

ConnectFour/Debug/ConnectFour\.pdb

ConnectFour/Debug/ConnectFour\.ilk

ConnectFour/ConnectFour/Debug/ConnectFour\.tlog/

ConnectFour/ConnectFour/Debug/
